* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* CSS PROJECT !!!!!! */
body{
  background-color: #fff;
  color:#333;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#main{
  margin: 20px 10px;
 background-color: rgb(240, 239, 239);
 padding: 40px 14px 30px ;
 border-radius: 5px;
}
#header{
  text-align: center;

}
#title{
font-size: 2rem;
padding-bottom: 13px ;
}
.title{
font-size: 0.8rem;
}
#img-div{
background-color: #fff;
text-align: center;
margin: 20px 5px 35px;
}
#image{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
#img-caption{
font-size: 0.8rem ; 
padding: 17px 0px;
}
#tribute-info{
 font-size: 0.8rem;
margin: 0px 50px;

}

#title-2{
  font-size: 1rem;
  text-align: center;
  padding: 10px 0px 50px ;
}

#tribute-info>ul{
  margin-bottom: 20px;
  padding: 0 30% ;
}
#tribute-info>ul>li{
  line-height: 1.6;
  padding-bottom: 20px;
}

span{
  font-weight: bold;
}
blockquote{
  font-size: 0.82rem;
  font-style: italic ;
 font-weight: initial;
 text-align: left;
 padding: 30px 0 3px;
 padding: 0 29%;
}
cite{
  display: block;
  padding: 10px 0 40px;
}
cite::before {
  content: "-- ";
}

#tribute-link1{
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}
p>a{
  text-decoration: none;
}

@media screen and (max-width:700px) {
  #title{
    font-size: 0.9rem;
  }
  .title{
    font-size: 0.6rem;
  }
  #img-caption{
    font-size: 0.6rem;
  }
  #tribute-info{
    margin: 0 ;
  }
  #title-2{
font-size: 0.7rem;
text-align: center;
  }
  #tribute-info>ul{
    padding: 0 10px 0 30px;
  }
  #tribute-info>ul>li{
   font-size: 0.6rem;
  }
  blockquote{
    font-size: 0.6rem;
    padding: 0 10px;
  }
  #tribute-link1{
    font-size: 0.6rem;
  }
}
